<div class="correct_class_design">   <!-- Parenkama css klase -->
<h1>Sveikinimai</h1>	<!-- Headeriu1 isvedamas tekstas -->
<body>
<p><%= @text %></p> <!-- Metodas kuris isveda teisingo atsakymo teksta is kontrolerio paragrafe -->
<br>
<%= button_to "Go back to main page", skaiciavimai_main_path, method: :post %> <!-- method padarytas mygtukas su pavadinimu, priskirtas pathas 5 kuri puslapi gryzti -->
</body>
</div>