<div class="main_design"> <!-- Parenkama css klase -->
<h1>Main Page</h1>
<p></p>
<br>

<%= link_to "Go to Sum Functions", skaiciavimai_sum_path %> <!-- Metodas link_to leidzia pereiti is vieno puslapio i kita priskyrus tam tikra path -->
<%= link_to "Go to Minus Functions", skaiciavimai_minus_path %>
<%= link_to "Go to Cubed Functions", skaiciavimai_cubed_path %>
<%= link_to "Go to Square Functions", skaiciavimai_square_path %>
</div>